Payroll.Tests/obj/Debug/netcoreapp2.2/PayrollTests.AssemblyInfo.cs
Payroll.Core/bin/Debug/netstandard2.0/Payroll.Core.dll
Payroll.Core/bin/Debug/netstandard2.0/Payroll.Core.pdb
Payroll.Core/bin/Debug/netstandard2.0/Payroll.Core.deps.json
Payroll.Core/obj/Payroll.Core.csproj.nuget.cache
Payroll.Core/obj/Payroll.Core.csproj.nuget.g.props
Payroll.Core/obj/Payroll.Core.csproj.nuget.g.targets
Payroll.Core/obj/project.assets.json
Payroll.Core/obj/Debug/netstandard2.0/Payroll.Core.dll
Payroll.Core/obj/Debug/netstandard2.0/Payroll.Core.pdb
Payroll.Core/obj/Debug/netstandard2.0/Payroll.Core.AssemblyInfo.cs
Payroll.Core/obj/Debug/netstandard2.0/Payroll.Core.AssemblyInfoInputs.cache
Payroll.Core/obj/Debug/netstandard2.0/Payroll.Core.assets.cache
Payroll.Core/obj/Debug/netstandard2.0/Payroll.Core.csproj.CoreCompileInputs.cache
Payroll.Core/obj/Debug/netstandard2.0/Payroll.Core.csproj.FileListAbsolute.txt
Payroll.Core/obj/Debug/netstandard2.0/Payroll.Core.csprojAssemblyReference.cache
Payroll.Tests/bin/Debug/netcoreapp2.2/Payroll.Core.dll
Payroll.Tests/bin/Debug/netcoreapp2.2/Payroll.Core.pdb
Payroll.Tests/bin/Debug/netcoreapp2.2/PayrollTests.dll
Payroll.Tests/bin/Debug/netcoreapp2.2/PayrollTests.pdb
Payroll.Tests/bin/Debug/netcoreapp2.2/PayrollTests.deps.json
Payroll.Tests/bin/Debug/netcoreapp2.2/PayrollTests.runtimeconfig.json
Payroll.Tests/bin/Debug/netcoreapp2.2/PayrollTests.runtimeconfig.dev.json
Payroll.Tests/bin/Debug/netcoreapp2.2/xunit.runner.reporters.netcoreapp10.dll
Payroll.Tests/bin/Debug/netcoreapp2.2/xunit.runner.utility.netcoreapp10.dll
Payroll.Tests/bin/Debug/netcoreapp2.2/xunit.runner.visualstudio.dotnetcore.testadapter.dll
Payroll.Tests/obj/PayrollTests.csproj.nuget.cache
Payroll.Tests/obj/PayrollTests.csproj.nuget.g.props
Payroll.Tests/obj/PayrollTests.csproj.nuget.g.targets
Payroll.Tests/obj/project.assets.json
Payroll.Tests/obj/Debug/netcoreapp2.2/PayrollTests.dll
Payroll.Tests/obj/Debug/netcoreapp2.2/PayrollTests.pdb
Payroll.Tests/obj/Debug/netcoreapp2.2/PayrollTests.AssemblyInfoInputs.cache
Payroll.Tests/obj/Debug/netcoreapp2.2/PayrollTests.Program.cs
Payroll.Tests/obj/Debug/netcoreapp2.2/PayrollTests.assets.cache
Payroll.Tests/obj/Debug/netcoreapp2.2/PayrollTests.csproj.CopyComplete
Payroll.Tests/obj/Debug/netcoreapp2.2/PayrollTests.csproj.CoreCompileInputs.cache
Payroll.Tests/obj/Debug/netcoreapp2.2/PayrollTests.csproj.FileListAbsolute.txt
Payroll.Tests/obj/Debug/netcoreapp2.2/PayrollTests.csprojAssemblyReference.cache
